* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

nav li {
    margin: 0 1rem;
}

nav a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3 ease;
}

nav a:hover {
    background-color: rgba(255,255,25,0.2);
}

main {
    background-color: white;
    margin: 2rem 0;
    border-radius: 10px;
    box-shadow: 0 0 28 rgba(0,0,0,0.1);
    overflow: hidden;
}

section {
    padding: 3rem 0;
    border-bottom: 1px solid #eee;
}

section:last-child {
    border-bottom:none;
}

h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
}

main ul {
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}

main li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

footer{
    background-color: #34495e;
    color:white;
    text-align: center;
}

footer a {
    color: #ecf0f1;
    text-decoration: none;
}

footer a:hover {
    color:white;
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0,5rem 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    section {
        padding: 2rem 0;
    }

    main {
        margin: 1rem 0;
    }
}

html {
    scroll-behavior: smooth;
}
